@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  // min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  font-family: "Inter", sans-serif;

  .tasksContainer {
    margin-left: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem;
  }
}
