@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  font-family: "Inter", sans-serif;

  .tasksContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
