@use "../../styles/placeholders";

.tasksStyling {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;

    .buttonContainer {
        border-left: 2px solid #000;
        padding-left: 1rem;
        display: flex;
        flex-direction: row;

        button {
            @extend %taskBtn;
            width: 1.6rem;
            height: 1.6rem;
            padding-bottom: 1.7rem;

            &:hover {
                scale: 1.1;
            }
        }
    }
}