@use "../../styles/variables" as v;
@use "../../styles/placeholders";

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }

    .buttonStyling {
        @extend %taskBtn;
    }
}