@use "../../../styles/variables" as v;

.headerStyling {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-family: "Indie Flower", cursive;
        border-bottom: 2px solid v.$main-dark-color;
        font-size: 2.5rem;
        font-weight: 300;
    }

    button {
        position: absolute;
        right: 6%;
        border: 0;
        background: transparent;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        border: 3px solid v.$main-dark-color;
        font-size: 2rem;
        padding-bottom: 1rem;
    }
}